nav{
    height: 10vh;
    background:  #FFE9D2;
    border-bottom: 10px solid #FFE1C4;
}

.nav-wrapper a{
    padding: 0 10px;
}

nav a{
    color: #FF8816 !important;
    font-size: 180%;
}

footer a{
    color: #FF8816 !important;
}

/* defining heights */

main {
    height: 84vh;
}

footer {
    height: 5vh;
}

.page-footer {
    padding-top: 10px !important;
    background:  #FFE9D2;
    color: #FF8816 !important;
}

main{
    font-size: 20px;
}

